.base {
    background-color: aqua;
    width: 60vw;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
}